/bin/
/obj/
/.vs/
/.vscode/
*.user
*.suo
*.userprefs
*.pdb
*.cache
*.log
*.DS_Store
*.db
*.bak
*.rnd
*.pid
**/bin/
**/obj/
*.tmp
*.swp
*.swo
*.aps
*.ncb
*.sdf
*.pch
.vscode/**
*.userosscache
.npmrc
*/publish
*.dbmdl
TestResults/
*.class
*.pyc
*.pyo
*results*
# JetBrains
.idea/
*.sln.docstates

